@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import 'tailwindcss';

@theme {
  --color-primary: #1f4e8c;
  --color-secondary: #4f7dcb;
  --color-neutralLight: #f2f2f2;
  --color-neutralMid: #aaaaaa;
  --color-text: #333333;
  --color-error: #d93025;
  --color-danger: #ffba49;
  --color-check: #3ba55c;
}
